@font-face {
    font-family: MuseoSansRounded300;
    src: url("../fonts/MuseoSansRounded-300Web.eot");
}

@font-face {
    font-family: MuseoSansRounded300;
    src: url("../fonts/MuseoSansRounded-300Web.woff") format("woff");
}

@font-face {
    font-family: MuseoSansRounded500;
    src: url("../fonts/MuseoSansRounded-500Web.eot");
}

@font-face {
    font-family: MuseoSansRounded500;
    src: url("../fonts/MuseoSansRounded-500Web.woff") format("woff");
}

@font-face {
    font-family: MuseoSansRounded700;
    src: url("../fonts/MuseoSansRounded-700Web.eot");
}

@font-face {
    font-family: MuseoSansRounded700;
    src: url("../fonts/MuseoSansRounded-700Web.woff") format("woff");
}

@font-face {
    font-family: MuseoSansRounded900;
    src: url("../fonts/MuseoSansRounded-900Web.eot");
}

@font-face {
    font-family: MuseoSansRounded900;
    src: url("../fonts/MuseoSansRounded-900Web.woff") format("woff");
}

@font-face {
    font-family: MuseoSansRounded1000;
    src: url("../fonts/MuseoSansRounded-1000Web.eot");
}

@font-face {
    font-family: MuseoSansRounded1000;
    src: url("../fonts/MuseoSansRounded-1000Web.woff") format("woff");
}

@font-face {
    font-family: MuseoSans700;
    src: url("../fonts/MuseoSans_700-webfont.eot");
}

@font-face {
    font-family: MuseoSans700;
    src: url("../fonts/MuseoSans_700-webfont.woff") format("woff");
}

@font-face {
    font-family: MuseoSans900;
    src: url("../fonts/MuseoSans_900-webfont.eot");
}

@font-face {
    font-family: MuseoSans900;
    src: url("../fonts/MuseoSans_900-webfont.woff") format("woff");
}

@font-face {
    font-family: MuseoSans300;
    src: url("../fonts/MuseoSans_300-webfont.eot");
}

@font-face {
    font-family: MuseoSans300;
    src: url("../fonts/MuseoSans_300-webfont.woff") format("woff");
}

@font-face {
    font-family: MuseoSans500;
    src: url("../fonts/MuseoSans_500-webfont.eot");
}

@font-face {
    font-family: MuseoSans500;
    src: url("../fonts/MuseoSans_500-webfont.woff") format("woff");
}
